# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
env/

# IDE files
.vscode/
.idea/

# Data and Model weights
# We ignore raw and processed data since they are too large for Git
data/
models/*.pth
models/*.pt

# OS files
.DS_Store
Thumbs.db
